footer {
    width: 100%;
    .footer-up {
        padding: 30px 80px;
        background-color: $blue-link;
        ul {
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            max-width: 1170px;
            margin: auto;
            li {
                width: calc(100% / 5);
                display: flex;
                align-items: center;

                img {
                    height: 50px;
                }
                .last-img {
                    width: 50px;
                }
                h4 {
                    color: white;
                    margin-left: 10px;
                    width: 100%;
                }
            }
        }
    }
    .footer-center {
        background-image: url('/img/footer-bg.jpg');
        background-size: cover;
        .footer-center-box {
            max-width: 1170px;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            padding: 0 80px;
            .footer-center-left {
                display: flex;
                flex-wrap: wrap;
                width: 40%;
                padding: 50px 0;
                ul {
                    width: calc(100%  / 4);
                    margin-right: 15px;
                    li {
                        h3 {
                            color: white;
                            text-transform: uppercase ;
                            margin-bottom: 10px;
                        }
        
                        a {
                            color: $link-footer;
                            text-transform: capitalize;
                        }
                    }
                }
                .last {
                    margin-top: -100px;
                }
                .footer-center-bottom {
                    width: 100%;
                    color: $link-footer;
                    span {
                        color: $blue-link;
                    }
                }
            }
            .footer-center-right {
                width: 60%;
                height: 500px;
                background-image: url('/img/dc-logo-bg.png');
                background-size: cover;
                background-position: center;

            }

        }

    }

}