header {
    .header-bar {
        background-color: $blue-link;
        height: 20px;
    }
    .container-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width: 1440px;
        height: 100px;
        margin: auto;
    
        nav {
            height: 100%;
            line-height: 100px;
        }
        ul {
            height: 100%;
            li {
                display: inline-block;
                margin: 0 5px;
                height: 100%;
                a {
                    display: inline-block;
                    color: $black;
                    text-transform: uppercase;
                    font-weight: 600;
                    height: 100%;

                }
                &:hover {
                    box-shadow: 0 -2px 0px 0px $blue-link inset;
                }
                &:hover a{
                    color: $blue-link;
                }
            }
            .active {
                box-shadow: 0 -2px 0px 0px $blue-link inset;
                color: $blue-link;
            }

        }
        .container-logo img {
            height: 80px;
        }
        input {
            border: 1px solid transparent;
            border-bottom-color: $blue-link;
            outline: none;
        }
    }
    .jumbotron {
        background-image: url('../img/jumbotron.jpg');
        background-size: cover;
        background-position: top;
        height: 300px;
        width: 100%;
    }
}
